---
import paul from '../images/paul.jpeg';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>

    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/schedule/">Schedule</a>

	<body>
		<h1>1-Up Jiu-Jitsu's Mission</h1>
        <p>Our mission at 1-Up Jiu-Jitsu/Team Chard West is to provide detailed instruction in Sport Brazilian Jiu-Jitsu, Submission Grappling, and Self Defense at affordable prices that defy the current state of the market. We believe in the value of training both with and without the gi, as each style contributes to the development of the other. Please contact us for class information. </p>
        <img src={paul.src} alt="Paul Bartholet, Head Instructor"/>
        
	</body>
</html>
