---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>1-UP JIU JITSU</title>
	</head>
	<body>
		<Header />

		<h1>Take your jiu jitsu game to the next level at 1-Up Jiu Jitsu</h1>
		<table style="width:100%; border-collapse: collapse;" border="1" class="calendar">
            <thead>
                <tr>
                <th style="padding: 8px; text-align: left;" class="day">Time</th>
                <th style="padding: 8px; text-align: left;" class="day">Monday</th>
                <th style="padding: 8px; text-align: left;" class="day">Tuesday</th>
                <th style="padding: 8px; text-align: left;" class="day">Wednesday</th>
                <th style="padding: 8px; text-align: left;" class="day">Thursday</th>
                <th style="padding: 8px; text-align: left;" class="day">Friday</th>
                <th style="padding: 8px; text-align: left;" class="day">Saturday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>6:00 – 7:00AM</td>
                <td></td>
                <td>Morning BJJ (Gi)</td>
                <td></td>
                <td>Morning BJJ (No Gi)</td>
                <td></td>
                <td></td>
                </tr>
                  <tr>
                <td>10:00 – 11:00AM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Kids BJJ</td>
                </tr>
                <tr>
                <td>11:00 – 12:00PM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Adult BJJ Basics (Gi)</td>
                </tr>
                <tr>
                <td>12:00 – 1:30PM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>BJJ All Levels (Gi)</td>
                </tr>
                <tr>
                <td>5:30 – 6:30PM</td>
                <td></td>
                <td>Kids BJJ (Gi)</td>
                <td></td>
                <td>Kids BJJ (Gi)</td>
                <td><strong>Intro to BJJ</strong><br><small>By Appointment Only</small></td>
                <td></td>
                </tr>
                <tr>
                <td>6:30 – 8:00PM</td>
                <td>Adult BJJ (Gi)</td>
                <td>Adult (No Gi)</td>
                <td></td>
                <td>Adult BJJ (Gi)</td>
                <td>Open Mat<br><small>$5 Drop-In</small></td>
                <td></td>
                </tr>
                <tr>
                <td>7:30 – 9:00PM</td>
                <td></td>
                <td></td>
                <td>Adult Advanced (No Gi)</td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
            </tbody>
        </table>
        <Footer/>
	</body>
    <style>
        .calendar th,
        .calendar td {
        border: 1px solid #ccc;
        padding: 12px;
        vertical-align: top;
        }

        .calendar th {
        background-color: #f4f4f4;
        font-weight: bold;
        }

        .calendar td {
        min-height: 80px;
        }
    </style>
</html>
