---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Schedule"
---

<BaseLayout pageTitle={pageTitle}>

		<table style="width:100%; border-collapse: collapse;" border="1" class="calendar">
            <thead>
                <tr>
                <th style="padding: 8px; text-align: left;" class="day">Time</th>
                <th style="padding: 8px; text-align: left;" class="day">Monday</th>
                <th style="padding: 8px; text-align: left;" class="day">Tuesday</th>
                <th style="padding: 8px; text-align: left;" class="day">Wednesday</th>
                <th style="padding: 8px; text-align: left;" class="day">Thursday</th>
                <th style="padding: 8px; text-align: left;" class="day">Friday</th>
                <th style="padding: 8px; text-align: left;" class="day">Saturday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>6:00 – 7:00AM</td>
                <td></td>
                <td>Morning BJJ (Gi)</td>
                <td></td>
                <td>Morning BJJ (No Gi)</td>
                <td></td>
                <td></td>
                </tr>
                  <tr>
                <td>10:00 – 11:00AM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Kids BJJ</td>
                </tr>
                <tr>
                <td>11:00 – 12:00PM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Adult BJJ Basics (Gi)</td>
                </tr>
                <tr>
                <td>12:00 – 1:30PM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>BJJ All Levels (Gi)</td>
                </tr>
                <tr>
                <td>5:30 – 6:30PM</td>
                <td></td>
                <td>Kids BJJ (Gi)</td>
                <td></td>
                <td>Kids BJJ (Gi)</td>
                <td><strong>Intro to BJJ</strong><br><small>By Appointment Only</small></td>
                <td></td>
                </tr>
                <tr>
                <td>6:30 – 8:00PM</td>
                <td>Adult BJJ (Gi)</td>
                <td>Adult (No Gi)</td>
                <td></td>
                <td>Adult BJJ (Gi)</td>
                <td>Open Mat<br><small>$5 Drop-In</small></td>
                <td></td>
                </tr>
                <tr>
                <td>7:30 – 9:00PM</td>
                <td></td>
                <td></td>
                <td>Adult Advanced (No Gi)</td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
            </tbody>
        </table>
    </BaseLayout>
</html>
