---
const current = Astro.url.pathname;
---

<div class="nav-links">
    <ul>
        <li><a href="/" class={current === '/' ? 'active' : ''}>Home</a></li>
        <li><a href="/about" class={current === '/about' ? 'active' : ''}>About</a></li>
        <li><a href="/blog" class={current === '/blog' ? 'active' : ''}>Blog</a></li>
        <li><a href="/tags" class={current === '/tags' ? 'active' : ''}>Tags</a></li>
        <li><a href="/schedule" class={current === '/schedule' ? 'active' : ''}>Schedule</a></li>
    </ul>
</div>